body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html,
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.info-legend leaflet-control {
    color: "white";
    size: 15;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  }